@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --ff-semi_bold: 'lufgasemibold';
    --ff-primary: 'fontspring_demo_-_lufgaRg';
    --ff-medium: 'lufgamedium';
}

ul {
    list-style: none;
}

h1,h3,button,select,a
{
    all: unset;
}

body {
    background-color: white;
    font-family: var(--ff-primary);
    font-size: 16px;
}

header {
    max-width: 75em;
    margin-top: 2.75em;
    margin-bottom: 2.375em;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.nav {
    display: flex;
    align-items: center;
    gap: 3.75em;
    padding: 0;
    font-family: var(--ff-medium);
    font-size: 1rem;
    color: #110229;
}

.Logbtn {
    width: 150px;
    height: 50px;
    border-radius: 0.875em;
    border: 2px solid #1DAEFF;
    background-color: white;
    font-family: var(--ff-semi_bold);
    text-transform: uppercase;
    font-size: 1rem;
    color: #1DAEFF;
    text-align: center;
}

.hero {
    max-width: 1300px;
    margin-inline: auto;
    position: relative;
    margin-bottom: 6.4375em;
    height: 634px;
}

.hero-banner {
    z-index: -10;
    position: absolute;
    display: block;
}

.content {
    position: absolute;
    margin-top: 5.75em;
    margin-left: 5.5625em;
    z-index: 0;
}

.title_desc 
{
    max-width: 30.625em;
    margin-bottom: 3.875em;
}

.title {
    color: #110229;
    font-family: var(--ff-semi_bold);
    font-size: 56px;
    line-height: 73.08px;
    margin-bottom: 2.3125rem;
}

.desc {
    font-family: var(--ff-primary);
    font-size: 1.375rem;
    color: #585981;
    line-height: 2.25rem;
    width: 100%;
}

.searchbar {
    position: absolute;
    max-width: 919px;
    width: 919px;

}

.options {
    display: flex;
    align-items: center;
    padding-inline: 0;
    gap: .5em;
}

.opt {
    text-transform: uppercase;
    font-family: var(--ff-medium);
    font-size: 1rem;
    line-height: 36px;
    letter-spacing: 0.2em;
    margin-inline: 29px;
    color: #8F90A6;
}

.selected {
    background-color: white;
    border: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.selected>.opt {
    color: #110229;
}

.seachTypes {
    height: 102px;
    background-color: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 30px 60px -15px rgba(143, 144, 188, 0.15);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 0px 20px 20px 20px;
    padding: 20px 38px 20px 29px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.seachTypes  h3
{
    font-size: var(--ff-semi_bold);
    font-size: 1.125rem;
    color: #110229;
    display: block;
    line-height: 20px;
}

.seachTypes  select 
{
    font-family: var(--ff-primary);
    font-size: 1rem;
    color: #8F90A6;
}

.typesOptions
{
    display: flex;
    gap: 49px;
}

.searchBtn
{
    width: 54px;
    height: 54px;
    background-color: #1DAEFF;
    text-align: center;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6.875em;
}

.spacer
{
    width: 2px;
    height: 46px;
    background-color: #DCDCEB;
}

.sec2
{
    height: 582px;
    max-width: 1201px;
    width: 100%;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 141px;

}

.sec2 > h1
{
    font-size: 38px;
    font-family: var(--ff-semi_bold);
    line-height: 49.59px;
    max-width: 478px;
    color: #110229;
    margin-inline: auto;
    display: inline-block;
    margin-bottom: 56px;
}

.images 
{
    display: flex;
    gap: 30px;
}

.images .titleimg
{
    font-family: var(--ff-semi_bold);
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 0.3em;
    line-height: 31.32px;
}


.America > h3 , .Spain > h3 , .London > h3 , .France > h3 
{
    position:relative;
    top:-16em;
}


.sec3
{
    max-width: 1201px;
    margin-inline: auto;
    height: 893px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 30px;
}

.sec3 > h2
{
    justify-self: left;
    align-self: flex-start;
    font-family: var(--ff-medium);
    line-height: 49.59px;
    font-size: 38px;
    color: #110229;
}

.sec3 > a
{
    justify-self: right;
    align-self: flex-start;
    font-family: var(--ff-medium);
    font-size: 24px;
    line-height: 31.32px;
    color: #1DAEFF;
}

.list1,.list2,.list3,.list4,.list5,.list6
{
    background-color: white;
    border: 1px solid #8F90A6;
    border-radius: 15px;
    height: 249px;
    width: 585px;
    display: flex;
    padding: 29px 33px;
}

.list-info
{

}

.list-title
{
    font-family: var(--ff-semi_bold);
    font-size: 28px;
    line-height: 36.54px;
    color: #110229;
    
}