@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root 
{
    --ff-primary : "'Montserrat', sans-serif;";
    --fw-regular : 400;
    --fw-medium : 500;
    --fw-semi_bold: 600; 
}

ul {
    list-style: none;
}

h1,h3,button,select,a
{
    all: unset;
}

li:hover,button:hover,.logo:hover,select:hover
{
    cursor: pointer;
}

body {
    background-color: white;
    font-family: var(--ff-primary);
    font-size: 1rem;
}

header {
    max-width: 75em;
    margin-top: 2.75em;
    margin-bottom: 2.375em;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.nav {
    display: flex;
    align-items: center;
    gap: 3.75em;
    padding: 0;
    font-weight: var(--fw-medium);
    font-size: 1rem;
    color: #110229;
}

.Logbtn {
    width: 150px;
    height: 50px;
    border-radius: 0.875em;
    border: 2px solid #1DAEFF;
    background-color: white;
    font-weight: var(--fw-semi_bold);
    text-transform: uppercase;
    font-size: 1rem;
    color: #1DAEFF;
    text-align: center;
}

.hero {
    max-width: 1300px;
    margin-inline: auto;
    position: relative;
    margin-bottom: 6.4375em;
    height: 634px;
}

.hero-banner {
    z-index: -10;
    position: absolute;
    display: block;
}

.content {
    position: absolute;
    margin-top: 5.75em;
    margin-left: 5.5625em;
    z-index: 0;
}

.title_desc 
{
    max-width: 30.625em;
    margin-bottom: 3.875em;
}

.title {
    color: #110229;
    font-weight: var(--fw-semi_bold);
    font-size: 56px;
    line-height: 73.08px;
    margin-bottom: 2.3125rem;
}

.desc {
    font-weight: var(--fw-regular);
    font-size: 1.375rem;
    color: #585981;
    line-height: 2.25rem;
    width: 100%;
}

.searchbar {
    position: absolute;
    max-width: 919px;
    width: 919px;

}

.options {
    display: flex;
    align-items: center;
    padding-inline: 0;
    gap: .5em;
}

.opt {
    text-transform: uppercase;
    font-weight: var(--fw-medium);
    font-size: 1rem;
    line-height: 36px;
    letter-spacing: 0.2em;
    margin-inline: 29px;
    color: #8F90A6;
}

.selected {
    background-color: white;
    border: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.selected>.opt {
    color: #110229;
}

.seachTypes {
    height: 102px;
    background-color: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 30px 60px -15px rgba(143, 144, 188, 0.15);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 0px 20px 20px 20px;
    padding: 20px 38px 20px 29px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.seachTypes  h3
{
    font-weight: var(--fw-semi_bold);
    font-size: 1.125rem;
    color: #110229;
    display: block;
    line-height: 20px;
}

.seachTypes  select 
{
    font-weight: var(--fw-regular);
    font-size: 1rem;
    color: #8F90A6;
}

.typesOptions
{
    display: flex;
    gap: 49px;
}

.searchBtn
{
    width: 54px;
    height: 54px;
    background-color: #1DAEFF;
    text-align: center;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6.875em;
}

.spacer
{
    width: 2px;
    height: 46px;
    background-color: #DCDCEB;
}

.sec2
{
    height: 582px;
    max-width: 1201px;
    width: 100%;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 141px;

}

.sec2 > h1
{
    font-size: 38px;
    font-weight: var(--fw-semi_bold);
    line-height: 49.59px;
    max-width: 478px;
    color: #110229;
    margin-inline: auto;
    display: inline-block;
    margin-bottom: 56px;
}

.images 
{
    display: flex;
    gap: 30px;
}

.images .titleimg
{
    font-weight: var(--fw-semi_bold);
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 0.3em;
    line-height: 31.32px;
}


.America > h3 , .Spain > h3 , .London > h3 , .France > h3 
{
    position:relative;
    top:-16em;
}


.sec3
{
    max-width: 1202px;
    margin-inline: auto;
    height: 893px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 120px;
}

.sec3 > h2
{
    justify-self: left;
    align-self: flex-start;
    font-weight: var(--fw-semi_bold);
    line-height: 49.59px;
    font-size: 38px;
    color: #110229;
}

.sec3 > a
{
    justify-self: right;
    align-self: flex-start;
    font-weight: var(--fw-medium);
    font-size: 24px;
    line-height: 31.32px;
    color: #1DAEFF;
}

.list1,.list2,.list3,.list4,.list5,.list6
{
    background-color: white;
    border: 1px solid #8F90A6;
    border-radius: 15px;
    height: 249px;
    display: flex;
    padding: 29px 33px;
    gap: 36px;
}

.list-container
{
    max-width: 322px;
}

.list-title
{
    font-weight: var(--fw-semi_bold);
    font-size: 28px;
    line-height: 36.54px;
    color: #110229;
    margin-bottom: 18px;
}

.list-details
{
    display: flex;
    font-weight: var(--fw-medium);
    font-size: 19px;
    line-height: 24.79px;
    color: #8F90A6;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.list-price_owner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--fw-medium);
    font-size: 19px;
    line-height: 24.79px;
    color: #8F90A6;
}

.list-price_sign
{
    padding: 8px 19px;
    background-color: #8F90A6;
    color: white;
    border: none;
    border-radius: 10px;
}


.sec4 
{
    max-width: 1300px;
    background: linear-gradient(180deg, #C3DFED 0%, #DFF0F7 100%);
    border-radius: 50px;
    margin-inline: auto;
    text-align: center;

    margin-bottom: 97px;
}

.sec4-text
{
    padding: 85px 120px 0px 86px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.sec4-text > h1
{
    font-size: 54px;
    font-weight: var(--fw-semi_bold);
    line-height: 70.47px;
    color: #110229;
}

.sec4-text > p
{
    font-weight: var(--fw-regular);
    font-size: 22px;
    line-height: 36px;
    color: #585981;
    margin-bottom: 1em;
}

.sec4-text > button
{
    background-color: #1DAEFF;
    font-size: 16px;
    line-height: 36px;
    color: white;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border-radius: 14px;
    padding: 7px 42px;
    width: fit-content;
    margin-bottom: 85px;
}

footer
{
    max-width: 1200px;
    width: 100%;
    height: 313px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    gap: 1.1em;
    margin-bottom: 5em;
}

.footer-text
{
    font-weight: var(--fw-regular);
    font-size: 1rem;
    line-height: 31px;
    color: #8F90A6;
    margin-top: 27px;
    margin-bottom: 34px;
}

.social-media
{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 35px;
}

.copyright
{
    font-weight: var(--fw-regular);
    font-size: 13px;
    line-height: 16.96px;
    color: #8F90A6;
    margin-bottom: 5em;

}

.footer-sec
{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.footer-sec h2, .subscribe h2
{
    font-size: 20px;
    font-weight: var(--fw-semi_bold);
    line-height: 36px;
    color: #110229;
}

.footer-sec ul
{
    margin-top: .6em;
}

.footer-sec li
{
    font-size: 18px;
    font-weight: var(--fw-regular);
    line-height: 52px;
    color: #110229;
}

.subscribe
{
    margin-left: 65px;
    
}

.subscribe > p
{
    margin-block: 25px 22px;
    margin-right: 1em;
    font-size: 14px;
    font-weight: var(--fw-regular);
    color: #8F90A6;
    line-height: 23px;
}

.input
{
    display: flex;
    align-items: center;
    position: relative;
}

#mail
{
    border: 2px solid #D0D0E3;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    
}

#send
{
    width: 11px;
    height: 10.71px;
    background-color: #1DAEFF;
    padding: 1em;
    border-radius: 100px;
    position: absolute;
    left: 80%;
}